
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

{
    padding-top: 1rem;
}

hr {
    style="z-index: 1;
    width: 12%;
}

li a button{
    font-family: Arial, Helvetica, sans-serif
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
}

.wrapper {
    margin: 4rem;
    min-width: 494px;
    max-width: 2600px;
}

header {
    width: 100%;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    background-color: #222222;
    position: fixed;
    z-index: 1;
    top: 0;
}

.nav__bar {
    width: auto;
    padding: 0;
}

.nav__links{
    display: block;
    border: none;
    text-decoration: none;
    list-style-type: none;
    justify-content: ;
    background-color: #222222;
    
}

.nav__bar a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 1rem;
}

.nav__links {
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}

.nav__links a:hover {
    text-decoration: underline;
}

.logo {
    text-decoration: none;
    margin-right: auto;
    font-size: 28px;
    font-weight: 100;
    color: #ffffff;
    background: none;
    padding: 1rem;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.logo a:hover {
    color: aqua;
}

button {
    display: block;
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding: .5rem;
    margin-right: 1rem;
    border: none;
    border-radius: 40px;
    cursor: pointer; 
}

.nav__bar button a {
    text-decoration: none;
}

button:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
}

.carousel {
    position: relative;
    height: 460px;
    width: 85%;
    max-width: 2600px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    height: 520px;
}

.carousel__track {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.carousel__track ul li {
    list-style: none;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
}
.carousel__image {
    width: 100%;
    object-fit: cover;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    padding: 0;
}

.carousel__button img {
    width: 40px;
    rgba{0,0,0,.3}
}

.carousel__button--left {
    left: -40px;
}
.carousel__button--right {
   right: -60px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
}

.carousel__indicator {
    border: 0;
    border-radius: 0;
    padding: 1px;
    width: 40px;
    height: 5px;
    background: rgba(0,0,0,.5);
    margin: 0 15px;
    z-index: 1;
}

.carousel__indicator.current-slide {
    background: rgb{255,255,255}
}

.flex-group * {
    display: flex;
    gap: 1rem;
    justify-content: center;

}

.item.image-1 {
    flex-shrink: 0;
}

.item.image-2 {
    flex-shrink: 0;
    
}

.item.text-block-1 {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 36rem;
    justify-content: flex-start;
}

.item.text-block-2 {
    flex-shrink: 0;
}

.item.image_caption-1 {
    flex-shrink: 0;
}

.call-to-action {
   flex-shrink: 0;   
}

.flex-card {
    display: flex;
    height: 200px;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 4rem;;
}
.item {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.item.bello-fresco {
    border-style: ridge;
    height: 400px;

}

.item.el-eden {
    border-style: ridge;
    height: 400px;
    position: relative;
}

.item.prime {
    border-style: ridge;
    height: 400px;
    width: fit-content;
    padding: none;
}

footer {
    display: flex;
    background-color: #222222;
    color: #ffffff;
    margin: 0rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
    height: 6rem;
    width: 100%;
}

.logo{
    background: transparent;
}