
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    padding-top: 1rem;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    margin-bottom: 1rem;
}


li a button{
    font-family: Arial, Helvetica, sans-serif
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
}

.wrapper {
    margin: 4rem;
    min-width: 494px;
    max-width: 2600px;
}

header {
    width: 100%;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    background-color: #222222;
    position: fixed;
    z-index: 1;
    top: 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
}

#check {
    display: none;
}
.hamburger{
    transform: scale(.1);
    display: flex;
    margin: 0;
    padding: 0;
}

.sidebar__links li {
    text-decoration: none;
    list-style: none;
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
}

.sidebar__links a {
    width: 100%;
}

.sidebar__links a:hover {
    text-decoration: underline;
    transition: ease-in-out;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #222222;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.081);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}
.close-icon {
    transform: scale(.5);
}

.nav__bar {
    width: auto;
    padding: 0;
}

.nav__links{
    display: block;
    border: none;
    text-decoration: none;
    list-style-type: none;
    justify-content: ;
    background-color: #222222;
    
}

.nav__bar a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 1rem;
}

.nav__links {
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}

.nav__links a:hover {
    text-decoration: underline;
    transition: ease-in-out;
}

.nav__bar button a {
    text-decoration: none;
}

.logo {
    text-decoration: none;
    margin-right: auto;
    font-size: 28px;
    font-weight: 100;
    color: #ffffff;
    background: none;
    padding: 1rem;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.logo a:hover {
    color: aqua;
}

button {
    display: block;
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding: .5rem;
    margin-right: 1rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-left: .5rem;
}

button:hover {
    text-decoration: none;
    background-color: #00ffff;
    color: #000000;
}

.carousel {
    position: relative;
    height: 460px;
    width: 85%;
    max-width: 2600px;
    min-width: 53px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 6rem;
    padding-top: .5rem;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    height: 526px;
}

.carousel__track {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.carousel__track ul li {
    list-style: none;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
}
.carousel__image {
    width: 100%;
    object-fit: cover;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(30px);
    background: transparent;
    border: 0;
    padding: 0;
}

.carousel__button img {
    width: 60px;
    background-color: transparent;
}

.carousel__button--left {
    left: -46px;
    z-index: 1;
}
.carousel__button--right {
   right: -54px;
   z-index: 1;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    /* background-color: rgb(0, 0, 0, .008); */
    max-width: fit-content;
    height: 20px;
    padding 0;
    margin-inline: auto;
}

.carousel__indicator {
    border: 0;
    border-radius: 0;
    padding: 1px;
    width: 40px;
    height: 5px;
    margin: 0 15px;
    z-index: 1;
}

.carousel__indicator.current-slide {
    background: #00ffff;
}

.carousel__overlay {
    position: absolute;
    width: 20%;
    height: 25%;
    min-width: 18rem;
    min-height: 6rem;
    top: 16rem;
    left: 1rem;
    bottom: ;
    right: ;
    background: rgb(34, 34, 34, 0.4);
    color: #ffffff;
    z-index: 1;
    text-indent: 1rem;
    
}

.main {

}

.container {
    width: 84%;
    margin-inline: auto;
    height: fit-content;
    max-width: 2400px;
    padding: 0;

}
.content__grid {
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.content__img-1 {
    max-width: 100%;
    max-height: 380px;
    padding: 0;
    object-position: cover;

}

.content__img-2 {
    max-width: 100%;
    max-height: 380px;
    padding: 0;
    object-position: cover;

}

.image__caption {
    font-style: italic;
    padding-top: 5rem;
    padding-bottom: 1rem;  
}

.content__span-2 {
    grid-column: span 2; 

}

.call-to-action {
    justify-self: end;
}

.item.image-1 {
    height: fit-content;
    object-fit: cover;
    
}
.item.image-1 img{
    
}

.item.image-2 {
    height: fit-content;
    width: 50%;
    object-fit: cover;
}

.item.text-block-1 {
    height: fit-content;
    width: 50%;
    object-fit: cover;
}

.item.text-block-2 {
    height: fit-content;
    width: 50%;
    object-fit: cover;
}

.call-to-action {
    height: fit-content;
    width: 50%;
    object-fit: cover;
}

.flex-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
    padding-top:0;
}
.item {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.item.bello-fresco {

    border-style: ridge;
    flex-wrap: wrap;
    height: 400px;

}

.item.el-eden {
    border-style: ridge;
    height: 400px;
    position: relative;
}

.item.prime {
    border-style: ridge;
    height: 400px;
    width: fit-content;
    padding: none;
}

.flex-card.text {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 523px;
}
footer {
    display: grid;
    align-items: end;
    background-color: #222222;
    color: #ffffff;
    margin: 0rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
    height: 12rem;
    width: 100%;
}

footer h1 {
    margin-left: 2rem;
}

footer hr {
    position: relative;
    top: -20px;
    bottom: 0;
    left: 180px;
    right: 0;
    z-index: 1;
}



@media and (max-width: 1306;) {
    .hideOnMobile{
        display: none;
    }
}