* {
  box-sizing: border-box;
  margin: 0;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50;
  padding-top: 1rem;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50;
  margin-bottom: 1rem;
}

li a button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: #000000;
}

header {
  width: 100%;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  background-color: #222222;
  position: fixed;
  z-index: 999;
  top: 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.nav__bar {
  width: auto;
  padding: 0;
}

.nav__links {
  display: block;
  border: none;
  text-decoration: none;
  list-style-type: none;
  background-color: #222222;
  text-wrap: nowrap;
}

.nav__bar a {
  text-decoration: none;
  text-wrap: nowrap;
  color: #ffffff;
  display: block;
  padding: 1rem;
}

.nav__links {
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.nav__links a:hover {
  text-decoration: underline;
}

.nav__bar button a {
  text-decoration: none;
}

.sidebar {
  display: none;
  opacity: 0;
}

.logo {
  text-decoration: none;
  margin-right: auto;
  text-wrap: nowrap;
  font-size: 28px;
  font-weight: 100;
  color: #ffffff;
  background: none;
  padding: 1rem;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
}

.logo a:hover {
  color: aqua;
}

button {
  display: block;
  border: none;
  text-wrap: nowrap;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem;
  margin-right: 1rem;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 0.5rem;
}

button:hover {
  text-decoration: none;
  background-color: #00ffff;
  color: #000000;
}

.carousel {
  display: block;
  position: relative;
  height: 460px;
  width: 85%;
  max-width: 2600px;
  min-width: 53px;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 6rem;
  padding-top: 0.5rem;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  height: 526px;
}

.carousel__track {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.carousel__track ul li {
  list-style: none;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
}
.carousel__image {
  width: 100%;
  object-fit: cover;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(30px);
  background: transparent;
  border: 0;
  padding: 0;
}

.carousel__button img {
  width: 60px;
  background-color: transparent;
}

.carousel__button--left {
  left: -46px;
  z-index: 1;
}
.carousel__button--right {
  right: -54px;
  z-index: 1;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  height: 20px;
  padding: 0;
  margin-inline: auto;
}

.carousel__indicator {
  border: 0;
  border-radius: 0;
  padding: 1px;
  width: 40px;
  height: 5px;
  margin: 0 15px;
  z-index: 1;
}

.carousel__indicator.current-slide {
  background: #00ffff;
}

.carousel__overlay {
  position: absolute;
  width: 20%;
  height: 25%;
  max-width: 25rem;
  min-width: 19rem;
  min-height: 6rem;
  top: 16rem;
  left: 1rem;
  background: rgb(34, 34, 34, 0.4);
  color: #ffffff;
  z-index: 1;
  text-indent: 1rem;
}

.carousel__button.carousel__button--right:hover {
  background: transparent;
}

.carousel__button.carousel__button--left:hover {
  background: transparent;
  color: #00ffff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.content__grid {
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  gap: 1rem;
  margin-left: 8vw;
  margin-right: 8vw;
}

.content__img-1 {
  max-width: 100%;
  max-height: 380px;
  padding: 0;
  object-position: cover;
}

.content__img-2 {
  max-width: 100%;
  max-height: 380px;
  object-position: cover;
}

.content__img-1 p {
  font-style: italic;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.content__span-2 {
  display: grid;
  grid-column: span 2;
}

.call-to-action {
  text-wrap: nowrap;
}

.item.text-block-1 {
  grid-area: span 2;
}

.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-left: 8vw;
  margin-right: 8vw;
}

.card__overlay {
  position: absolute;
  font-size: x-large;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  height: 34vh;
  width: 27vw;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.card__overlay:hover {
  opacity: 1;
  transition: opacity 0.6s;
}

.card__overlay h1 {
  text-align: center;
}

.menu_card h2 p {
  margin-bottom: 0px;
  padding: 0px;
}

.card__overlay h1 {
  text-align: center;
}

.menu_card h2 p {
  margin-bottom: 0px;
  padding: 0px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #222222;
  align-items: end;
  margin-top: 2vh;
  margin-bottom: 0;
  color: #ffffff;
  height: 16rem;
  width: 100%;
}

footer h1 {
  margin-left: 3vw;
  grid-area: 2/1;
}

footer img {
  max-height: 10rem;
  grid-area: 2/4;
  margin-right: 3vw;
  margin-bottom: 3vh;
}
